<%= render 'shared/navbar' %>

<div class='container results'>
  <div class='row'>
    <h2>Recommended</h2>

    <div class='col-md-3'>
      <a href='/video/1'>
        <img src='https://img.youtube.com/vi/CPj2QgxmUxw/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/5'>The Golden Hour</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/video/3'>
        <img src='https://img.youtube.com/vi/BluCH44nrao/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/3'>Sultry Mauve Eyes w/ Bronzey Skin</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/video/1'>
        <img src='https://img.youtube.com/vi/ioDzRCCYVew/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/1'>6 Korean Makeup Trends Tested</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/video/10'>
        <img src='https://img.youtube.com/vi/XiINeWoSGPg/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/10'>Everyday Makeup Tutorial</a></h3>
    </div>
  </div>

  <hr>
  
  <div class='row'>
    <h2>Trending</h2>

    <div class='col-md-3'>
      <a href='/video/6'>
        <img src='https://img.youtube.com/vi/JgwvvH3CzXc/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/6'>Gatsby 1920s Flapper Girl</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/video/7'>
        <img src='https://img.youtube.com/vi/UAK_cOSR8bs/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/7'>Golden Bronze Makeup Tutorial</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/video/9'>
        <img src='https://img.youtube.com/vi/8hKFccRONOU/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/9'>Glitter Glam Makeup</a></h3>
    </div>

    <div class='col-md-3'>
      <a href='/video/5'>
        <img src='https://img.youtube.com/vi/CPj2QgxmUxw/0.jpg' class='img-responsive'/>
      </a>

      <h3><a href='/video/5'>The Golden Hour</a></h3>
    </div>
  </div>
</div>