<%= render 'shared/navbar' %>

<div class='container'>
  <div class='row'>
    <h2>Recommended</h2>

    <div class='col-md-3'>
      <img src='http://placehold.it/640x480' class='img-responsive'/>
    </div>

    <div class='col-md-3'>
      <img src='http://placehold.it/640x480' class='img-responsive'/>
    </div>

    <div class='col-md-3'>
      <img src='http://placehold.it/640x480' class='img-responsive'/>
    </div>

    <div class='col-md-3'>
      <img src='http://placehold.it/640x480' class='img-responsive'/>
    </div>
  </div>

  <hr>
  
  <div class='row'>
    <h2>Trending</h2>

    <div class='col-md-3'>
      <img src='http://placehold.it/640x480' class='img-responsive'/>
    </div>

    <div class='col-md-3'>
      <img src='http://placehold.it/640x480' class='img-responsive'/>
    </div>

    <div class='col-md-3'>
      <img src='http://placehold.it/640x480' class='img-responsive'/>
    </div>

    <div class='col-md-3'>
      <img src='http://placehold.it/640x480' class='img-responsive'/>
    </div>
  </div>
</div>