<%= render 'shared/navbar' %>

<div class='jumbotron'>
  <div class='container'>
    <h1>Kit. Coming Soon.</h1>
    <p>Made with love by Alaina, Eddie, Vanessa, and Willie</p>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Join Kit</h2>
      <p>Nullam sed turpis at neque sodales malesuada. Duis in consequat justo. Fusce dolor arcu, laoreet sit amet fermentum ut, sollicitudin nec mi. Proin molestie, risus vestibulum aliquet bibendum, felis leo commodo era.</p>
    </div>

    <div class='col-md-6'>
      <img src='http://placehold.it/640x360' class='img-responsive' />
    </div>
  </div>
</div>