<%= render 'shared/navbar' %>

<div class='jumbotron'>
  <div class='container'>
    <h1>Kit. LavaLab F16.</h1>
    <p>Made with love by Alaina, Eddie, Vanessa, and Willie</p>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>What is Kit?</h2>
      <p>As millennials move away from traditional beauty outlets like television and magazines, they're looking for new ways to engage with brands through influencers, and generic platforms like YouTube and Pinterest aren't cutting it. Kit is a web platform that helps beauty enthusiasts discover new products, find inspiration, and become part of a global community.</p>
    </div>

    <div class='col-md-6'>
      <%= image_tag 'home.jpg', class: 'img-responsive' %>
    </div>
  </div>
</div>