<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>

      <%= link_to '/', class: 'navbar-brand' do %>
        <%= image_tag 'kit_logo_navbar' %>
      <% end %>
    </div>

    <div class='collapse navbar-collapse' id='navbar-collapse'>
      <form class='navbar-form navbar-left kit-search-form'>
        <div class='input-group search-input-group'>
          <input type='text' class='form-control' placeholder='Search'>

          <span class='input-group-btn'>
            <button class='btn btn-default' type='button'><span class='glyphicon glyphicon-search' aria-hidden='true'></span></button>
          </span>
        </div>
      </form>

      <ul class='nav navbar-nav navbar-right'>
        <li class='kit-navbar-icons'><a href='/discover' title='Discover'><i class='fa fa-compass' aria-hidden='true'></i></a></li>
        <li class='kit-navbar-icons'><a href='#' title='Subscriptions'><i class='fa fa-inbox' aria-hidden='true'></i></a></li>
        <li class='kit-navbar-icons'><a href='#' title='Profile'><i class='fa fa-user-circle-o' aria-hidden='true'></i></a></li>
      </ul>
    </div>
  </div>
</nav>