// Navbar
$navbar-default-bg: #b82761;
$navbar-default-color: #ffffff;

// Navbar links
$navbar-default-link-color: #fff !default;
$navbar-default-link-hover-color: #fff !default;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 6.5%) !default;