// Navbar
$navbar-height: 60px;
$navbar-default-bg: #b82761;
$navbar-default-color: #ffffff;

// Navbar links
$navbar-default-link-color: #fff !default;
$navbar-default-link-hover-color: #fff !default;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-active-color: #fff !default;

// Navbar toggle
$navbar-default-toggle-hover-bg: darken($navbar-default-bg, 13%) !default;
$navbar-default-toggle-icon-bar-bg: #fff !default;
$navbar-default-toggle-border-color: darken($navbar-default-bg, 13%) !default;

// Button
$btn-primary-bg: lighten(#b82761, 15%) !default;