<%= render 'shared/navbar' %>

<div class='container'>
  <div class='col-md-6'>
    <img src='http://placehold.it/640x480' class='img-responsive' />
  </div>

  <div class='col-md-6'>
    <h2>Product Name</h2>

    <p>Nullam sed turpis at neque sodales malesuada. Duis in consequat justo. Fusce dolor arcu, laoreet sit amet fermentum ut, sollicitudin nec mi. Proin molestie, risus vestibulum aliquet bibendum, felis leo commodo era.</p>
  </div>
</div>